<div class="main" id="">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3>Tasks management system</h3>
                <hr>
                <ul class="team_list">
                    <li>authorization</li>
                    <li>registration</li>
                    <li>Adding, deliting tasks</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /About-us -->
<!-- Team -->
<div class="team" id="team">
    <div class="container">
        <h3 class="slideanim">Our Team</h3>
        <div class="row placeholders">
            <div class="col-lg-6 col-xs-6 col-sm-3 placeholder">
                <img src="static/images/team1.jpg" width="200" height="200" class="img-responsive slideanim" alt="Generic placeholder thumbnail">
                <h5 class="slideanim">Yevdushchenko</h5>
            </div>
            <div class="col-lg-6 col-xs-6 col-sm-3 placeholder">
                <img src="static/images/team2.jpg" width="200" height="200" class="img-responsive slideanim" alt="Generic placeholder thumbnail">
                <h5 class="slideanim">Zavitova</h5>
            </div>
        </div>
    </div>
</div>