<pie></pie>

<form class="well" (submit)="addTask($event)">
    <div class="form-group">
        <input name="test" type="text" [(ngModel)]="title" class="form-control" placeholder="add text">
    </div>
</form>

<div class="task-list">
    <div *ngFor='let task of tasks'>
        <br><br>
        <div class="col-xs-1">
            <input type="checkbox" [checked]="task.isDone" (click)="updateStatus(task)">
        </div>
        <div class="col-xs-7">
            {{task.title}}
        </div>
        <div class="col-xs-4">
            <input type="button" (click)="deleteTask(task._id)" value="delete" class="btn btn-danger">
        </div>
    </div>
</div>